.updateProductForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    padding: 10px 100px 10px 100px;
    border-radius: 4px;
    max-width: 900px;
}
h2 {
    width: 100%;
}
.formInput {
    margin: 30px !important;
    width: 40% !important;
}
.formAddBtn {
    width: 400px;
}

@media (max-width: 830px) {
    .updateProductForm {
        box-sizing: border-box !important;
        padding: 0px 0px 20px 0px !important;
        flex-direction: column !important;
    }
    h2 {
        text-align: center;
    }
    .formHeader {
        margin-top: 50px;
    }
    .formInput {
        width: 80% !important;
    }
}
